/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.item-catalog {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  max-width: 640px;
  min-width: 600px;
  flex-wrap: wrap;

  .item-wrapper {
    display: block;
    margin: 10px;
    border: solid 1px #ccc;

    .item-container {
      .product-img {
        img {
          width: 180px;
          height: 180px;
        }
      }

      .product-details {
        padding: 5px 0 10px 0;
        text-align: center;
  
        .brand-name,
        .package-detail {
          font-size: 12px;
          padding: 5px 0;
        }
  
        .brand-name {
          padding: 5px 0 0;
        }
        .product-name {
          font-size: 16px;
          padding: 5px 0;
        }
        .product-price {
          font-weight: bold;
          font-size: 16px;
          padding: 10px 0;
        }
        input {
          background: #3f51b5;
          color: #fff;
          height: 32px;
          width: 120px;
          border-radius: 0;
          border: none;
          cursor: pointer;
          line-height: 30px;
          text-transform: uppercase;
          font-size: 10px;
        }
        .quantity-bar {
          display: flex;
          width: 120px;
          height: 30px;
          margin: 0 auto;
          justify-content: center;
          border: solid 1px #ccc;
          
          .item-quantity-meter {
            background: #3f51b5;
            color: #fff;
            width: 60%;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
          }
  
          .adjust-quantity {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.cart {
  width: 300px;
  padding: 20px;
  border: solid 1px #ccc;
  margin: 30px;
  max-height: 600px;

  .cart-overview {
    display: flex;

    .item-count,
    .grand-total {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      span {
        padding: 10px;
      }
    }

    .item-count, .grand-total {
      .count-meter, .total-amount {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .cart-header,
  .item-row {
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

    .remove-item {
      border-radius: 100%;
      background: #b71c1c;
      color: #fff;
      width: 16px;
      height: 16px;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
    }

    .cart-item-title {
      flex-grow: 6;
    }

    .cart-total-title {
      text-align: right;
      padding: 0 20px 0 0;
    }

    .cart-quantity-title,
    .cart-total-title {
      flex-grow: 1;
    }
  }

  .item-row {
    .cart-item-title {
      flex-grow: 1;
      max-width: 115px;
    }

    .cart-quantity-title {
      text-align: center;
    }
  }

  .cart-header {
    font-weight: bold;
  }

  .contains-no-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 20px 0;
  }
}